[submodule "libraries/SeeedRFIDLib"]
	path = libraries/SeeedRFIDLib
	url = https://github.com/johannrichard/SeeedRFIDLib.git
[submodule "upstream/arduino-nrf24l01"]
	path = upstream/arduino-nrf24l01
	url = https://github.com/aaronds/arduino-nrf24l01.git
[submodule "libraries/RF24"]
	path = libraries/RF24
	url = https://github.com/maniacbug/RF24.git
